<a href="https://colab.research.google.com/github/pcpiscator/Diversos/blob/main/SparkTeste01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [12]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
# O comando 'docker run' não é compatível com o ambiente padrão do Google Colab.
# Se você precisa usar Spark, é recomendado usar a API PySpark diretamente ou
# configurar um ambiente com suporte a Docker fora do Colab.
# Por exemplo, para iniciar uma sessão Spark:
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.appName('MySparkApp').getOrCreate()

In [2]:
from pyspark.sql import SparkSession

# Crie uma sessão Spark
spark = SparkSession.builder.appName('MySparkApp').getOrCreate()

print('Sessão Spark iniciada com sucesso!')
print(f'Versão do Spark: {spark.version}')

Sessão Spark iniciada com sucesso!
Versão do Spark: 4.0.1

In [13]:
# Leia o arquivo Excel usando pandas
pdf = pd.read_excel("/content/Voleibol_Meses.xlsx")

# Converta o DataFrame do pandas para um DataFrame do Spark
df = spark.createDataFrame(pdf)

# Selecione um subconjunto de características e filtre por 'Salario' > 0
filtered_df = df.select("Posicao", "Equipe", "Salario").filter("Salario > 0")

# Gere estatísticas de resumo
filtered_df.summary().show()

+-------+--------------+------+-----------------+
|summary|       Posicao|Equipe|          Salario|
+-------+--------------+------+-----------------+
|  count|            40|    40|               40|
|   mean|          NULL|  NULL|          53238.5|
| stddev|          NULL|  NULL|23079.70859812487|
|    min|       Central|     A|            11379|
|    25%|          NULL|  NULL|            34602|
|    50%|          NULL|  NULL|            54973|
|    75%|          NULL|  NULL|            68948|
|    max|Ponta Esquerda|     B|            98236|
+-------+--------------+------+-----------------+

In [11]:
from pyspark.sql.functions import col, sum

# Verifica a contagem de valores nulos por coluna
df.select([sum(col(c).isNull().cast("integer")).alias(c) for c in df.columns]).show()

+-------+------+---------------+---------------+--------------+-------------+-------+
|Posicao|Equipe|Pontuação Março|Pontuação Abril|Pontuação Maio|MãoHabilidade|Salario|
+-------+------+---------------+---------------+--------------+-------------+-------+
|      0|     0|              0|              0|             0|            0|      0|
+-------+------+---------------+---------------+--------------+-------------+-------+